#viz {
    height:100vh;
    width:100%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:absolute
}

svg {
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:absolute
}

circle {
    fill:#1B8BCD;
    stroke:#2C2C2C;
    stroke-width:2px;
    opacity:.75
}

circle.highlight {
    stroke:#ff0;
    stroke-width:5;
    opacity:1
}

body,html {
    background:#000;
    height:100%
}

#sideBar {
    height:100%;
    width:300px;
    background:rgba(15,51,56,0.59);
    position:absolute;
    top:0;
    right:0;
    font-family:sans-serif;
    color:#FFFAFA;
    padding:17px;
    font-size:14px;
    box-sizing:border-box;
    overflow:scroll;
    cursor:pointer;
    z-index:10
}

div[class^='agency']:hover {
    cursor:pointer
}

#description {
    position:absolute;
    bottom:10px;
    color:#fff;
    font-family:sans-serif;
    width:400px
}

#description a,#description a:visited {
    color:#4682b4
}

.navbar-inverse {
    background:url(http://www.phila.gov/Style%20Library/Images/bodyBG.jpg)
}

.navbar-inverse .navbar-brand {
    color:#fff
}

.navbar-brand {
    font-size:23px
}

.money,.navbar-brand>img {
    height:30px;
    display:inline-block;
    position:relative;
    top:-4px;
    margin-right:10px
}

.navbar-right {
    margin-right:0
}

.categoryBox {
    border-radius:10px;
    width:250px;
    padding:11px;
    box-sizing:border-box;
    margin:4px;
    box-shadow:inset 0 0 7px #736A6A;
    line-height:13px;
    font-size:11px
}

#sidebarLeft {
    position:absolute;
    top:50px;
    left:0
}

#sidebarRight {
    position:absolute;
    top:50px;
    right:0
}

.categoryBox h3 {
    margin-top:0;
    margin-bottom:4px;
    font-size:15px;
    text-transform:uppercase
}

.categoryBox div {
    margin-left:7px
}

.categoryBox .highlight {
    font-weight:700;
    background:#ff0;
    box-shadow:0 0 5px 5px rgba(247,255,0,1)
}

#flyout {
    font-family:'Maven Pro',sans-serif;
    position:absolute;
    width:250px;
    color:#fff;
    display:none;
    top:0;
    z-index:40
}

#flyoutTop {
    background:#16639A;
    padding:8px;
    font-size:14px
}

#flyoutBottom {
    display:block;
    height:0;
    width:0;
    border-left:35px #04364F solid;
    border-bottom:19px solid rgba(255,255,255,0);
    position:relative;
    right:-216px
}

#flyoutDepartment {
    font-size:22px
}

#mask {
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(51,51,51,0.87);
    z-index:10;
    display:none
}

.popup {
    top:20%;
    width:75%;
    position:fixed;
    left:50%;
    margin:0 0 0 -37.5%;
    z-index:9999;
    background:#fff;
    min-height:300px;
    border-radius:16px;
    padding:35px;
    display:none
}

.popup h2 {
    font-size:30px;
    padding-bottom:24px;
    margin-top:0
}

.popup p {
    line-height:22px;
    margin-bottom:10px
}

.popup h3 {
    font-weight:700;
    margin-bottom:15px
}

.popup .close {
    position:absolute;
    right:30px;
    top:30px;
    font-size:24px
}

.popup .close:hover {
    cursor:pointer;
    color:#E10000
}

.getDataButton {
    float:right;
    height:34px;
    margin-top:8px;
    margin-left:10px
}